<h2>
    Add New Category 
</h2>
<form action="/books/cat" method="POST">
    <label>Name</label>
    <input type="text" name="name" >
    <a href="/books/cat">Cancel</a>
    <button type="submit">Create </button>
</form>