<h2>Search Topic</h2>
<form action="/books" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" >
    <button type="submit">Search</button>
</div>
</form>
<br>

<div>
<% books.forEach(book => { %>
    <img height="150" width="100" src="https://res.cloudinary.com/dz9xduywu/image/upload/<%= book.coverImageName  %>.png">
    <a href="/books/<%= book._id %>"><%= book.title  %> </a>
<%  }) %>
</div>