<h2>Search Topic</h2>
<form action="/books" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" >
    <button type="submit">Search</button>
</div>
</form>
<br>


<% books.forEach(book => { %>
  <div class="card">
    <img height="150" width="100" src="https://res.cloudinary.com/dz9xduywu/image/upload/<%= book.coverImageName  %>.png">
    <div class="container">
     <p> <%= book.title %></p>
     <br>
     <br>
     <p> <%= book.author %> </p> 
     <br>
    <a href="/books/<%= book._id %>"><button>SHOW</button> </a>

  </div>
  </div>
<%  }) %>
