<h2>
    Add A Request
</h2>
<form action="/books/request" method="POST">
    <div>
    <label>Enter Your Name</label>
    <input type="text" name="reqname" >
    </div>
    <br>
    <br>
    <div margin-left: 20px>
        <label>Your Request </label>
        <textarea  name="appeal"></textarea>
    </div>

    <br>
    <a href="/books/request">Cancel</a>
    <button type="submit"> ADD </button>
</form>