<footer>
    <p align=center> CONTACT US @
    <a href="https://www.facebook.com/eyeformationinc"  class="fa fa-facebook"></a>
     Or +8801868121303
    </p>

    <br>
    <p align=center>
        ALL RIGHTS RECEIVED © GYANARJAN 2021
    </p>

</footer>