<header>
    <nav>
        <a href="/">GYANARJAN</a>
        <hr/>
        ,<ul>
                <a href="/authors">Categories</a>
                <a href="/books">All Videos</a>
                <a href="/books/request">Request a topic </a>
                <a href="/books/auth">Add Video</a>
        </ul>

    </nav>
</header>