<header>
    <nav>
        <a href="/">Change</a>
        ,<ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add users</a>
            </li>
        </ul>
    </nav>
</header>