<header>
    <nav>
        <a href="/">Change</a>
        ,<ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add users</a>
            </li>
            <li>
                <a href="/books">All Videos</a>
            </li>
            <li>
                <a href="/books/new">Add Video</a>
            </li>
        </ul>

    </nav>
</header>