<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>


    <title>GYANARJAN</title>
    <style>
      body {background-color: #001014; font-family:Verdana, Geneva, Tahoma, sans-serif;}
      a {color: #C0C0C0;text-decoration: none;}
      a+a {margin-left: 10px;}
      p {color: #c0c0c0;}
      title {color: #C0C0C0;}
      label {color: #C0C0C0;}
      h2 {color: #C0C0C0; margin-left: 40px;}
      a:hover {
  background-color: #424040;
}
      div{color: #C0C0C0;}
      button{color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;}
      </style>
</head>
<body>
    <%- include('../partials/header.ejs') %>  
    <%- include('../partials/errorMessage.ejs') %>  
    <%- body %>

</body>
</html>