<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change</title>
</head>
<body>
    Every page's header 
    <br>
    <%- body %>
    <br>
    Every page's footer
</body>
</html>