<h2>
    Recently Added 
</h2>
<div>
    <% books.forEach(book => { %>
        <img height="150" width="100" src="https://res.cloudinary.com/dz9xduywu/image/upload/<%= book.coverImageName  %>.png">
        <a href="/books/<%= book._id %>"><%= book.title  %> </a>
    <%  }) %>
    </div>