<h2>Search Topic</h2>
<form action="/authors" method="GET">

    <label>Name</label>
    <input type="text" name="name" >
    <button type="submit">Search</button>
</form>
<br>

<% authors.forEach(author => { %>
    <% var d=0 %>
    <% booked.forEach(book => { %> 

        <% if(author.name==book.author) {%>
            <% d++  %>   
        <% } %>  
        <%  }) %>
    <a href="/authors/<%= author.name %>"><%= author.name  %> </a>
    <p>(<%= d %>)</p>
<%  }) %>

 